<!doctype html>
  <head>
    <title></title>

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body ng-app="myStoreApp">

    <div ng-controller="welcomeController">
        Welcome to the AngularJS World, {{userName}}
        <hr>
        <p>Inside the controller: <input name="userName" ng-model="userName"/></p>
    </div>
    <hr>
    <div>
        <p>Outside the controller: <input name="userName" ng-model="userName"/></p>
    </div>


    <script src="bower_components/angular/angular.js"></script>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->

  </body>
</html>
